<a href="https://colab.research.google.com/github/Jomonjoseph25/QnA-Activity_Team16/blob/main/Week_11_Activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


### Supervised Learning
### Activity: Building a Student Intervention System

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Question 1 - Classification vs. Regression
*Your goal for this project is to identify students who might need early intervention before they fail or pass. Which type of supervised learning problem is this, classification or regression? Why?*

Classification

### Question-2
load necessary Python libraries and load the student data. Note that the last column from this dataset, `'passed'`, will be our target label (whether the student graduated or didn't graduate). All other columns are features about each student.

In [3]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Read student data
Student_Data = pd.read_csv("/content/drive/MyDrive/week11/student-data.csv")
Student_Data.head()

  school sex  age address famsize  ... Dalc  Walc  health absences passed
0     GP   F   18       U     GT3  ...    1     1       3        6     no
1     GP   F   17       U     GT3  ...    1     1       3        4     no
2     GP   F   15       U     LE3  ...    2     3       3       10    yes
3     GP   F   15       U     GT3  ...    1     1       5        2    yes
4     GP   F   16       U     GT3  ...    1     2       5        4    yes

[5 rows x 31 columns]

### Question-3
Let's begin by investigating the dataset to determine how many students we have information on, and learn about the graduation rate among these students. In the code cell below, you will need to compute the following:
- The total number of students, `n_students`.
- The total number of features for each student, `n_features`.
- The number of those students who passed, `n_passed`.
- The number of those students who failed, `n_failed`.
- The graduation rate of the class, `grad_rate`, in percent (%).

In [5]:
# Calculate number of students
n_students = Student_Data.shape[0]
n_students

395

In [6]:
# Calculate number of features
n_features = Student_Data.shape[1]
n_features

31

In [45]:
# Calculate passing students
n_passed = Student_Data.passed.value_counts()
n_passed['yes']

265

In [47]:
# Calculate failing students
n_failed = n_passed['no']
n_failed

130

In [51]:
# Calculate graduation rate
graduation_rate=Student_Data.passed.value_counts(normalize=True)*100
graduation_rate['yes']

67.08860759493672

In [ ]:
# Print the results

## Preparing the Data
you will prepare the data for modeling, training and testing.

### Question-4 Identify feature and target columns


separate the student data into feature and target columns to see if any features are non-numeric.

In [ ]:
# Extract feature columns

In [52]:
Student_Data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'passed'],
      dtype='object')

In [59]:
feature_columns = Student_Data.drop(['passed'],axis=1)
x=feature_columns

In [ ]:
# Extract target column 'passed'

In [62]:
target_column = Student_Data.drop(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences'],axis=1)
y=target_column

In [ ]:
# Separate the data into feature data and target data (X and y, respectively)

### Question-5 Preprocess Feature Columns

As you can see, there are several non-numeric columns that need to be converted! Many of them are simply `yes`/`no`, e.g. `internet`. These can be reasonably converted into `1`/`0` (binary) values.

Other columns, like `Mjob` and `Fjob`, have more than two values, and are known as _categorical variables_. The recommended way to handle such a column is to create as many columns as possible values (e.g. `Fjob_teacher`, `Fjob_other`, `Fjob_services`, etc.), and assign a `1` to one of them and `0` to all others.

These generated columns are sometimes called _dummy variables_, and we will use the [`pandas.get_dummies()`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html?highlight=get_dummies#pandas.get_dummies) function to perform this transformation. Run the code cell below to perform the preprocessing routine discussed in this section.

### Question - 6 Implementation: Training and Testing Data Split
So far, we have converted all _categorical_ features into numeric values. For the next step, we split the data (both features and corresponding labels) into training and test sets. you will need to implement the following:
- Randomly shuffle and split the data (`X`, `y`) into training and testing subsets.
  - Use 300 training points (approximately 75%) and 95 testing points (approximately 25%).
  - Set a `random_state` for the function(s) you use, if provided.
  - Store the results in `X_train`, `X_test`, `y_train`, and `y_test`.

In [ ]:
# splitting the data into train and test

In [ ]:
# Show the results of the split

### Question - 7  Training and Evaluating Models
In this section, you will choose 3 supervised learning models that are appropriate for this problem and available in `scikit-learn`. You will first discuss the reasoning behind choosing these three models by considering what you know about the data and each model's strengths and weaknesses. You will then fit the model to varying sizes of training data and measure the accuracy score.

###  Model Application
*List three supervised learning models that are appropriate for this problem. What are the general applications of each model? What are their strengths and weaknesses? Given what you know about the data, why did you choose these models to be applied?*

In [ ]:
#explaination

In [ ]:
# Import the three supervised learning models from sklearn

In [ ]:
# fit model-1  on traning data

In [ ]:
# predict on the test data

In [ ]:
# calculate the accuracy score

In [ ]:
# fit the model-2 on traning data and predict on the test data and measure the accuracy

In [ ]:
# fit the model-3 on traning data and predict on the test data and measure the accuracy